@model LwsAuthUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

    // Added by Lee
    List<SelectListItem> roleSelectListItems = new List<SelectListItem>();
    roleSelectListItems.Add(new SelectListItem { Text = "Main", Value = "Main" });
    roleSelectListItems.Add(new SelectListItem { Text = "Office", Value = "Office" });
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Title - Create a new account</h4>
    </div>
    <div class="card-body">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-2" })
            <div class="col-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-2" })
            <div class="col-12">
                <p>(For this demo there is only a limit of 1 character!!!)</p>
            </div>
            <div class="col-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-2" })
            <div class="col-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        @*Added by Lee*@
        <div class="form-group">
            @Html.LabelFor(m => m.Role, new { @class = "col-2 control-label" })
            <div class="col-4">
                @Html.DropDownListFor(m => m.Role, roleSelectListItems, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-outline-primary" value="Register" />
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
